body {
  margin: 0;
  padding: 0;
}

.HomePage {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url(src/assets/Images/Star-Background.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CharacterCardContainer {
  width: 70vw;
  height: 70vh;
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 1fr; 
  grid-gap: 5px;
  justify-items: center;
  align-items: flex-start;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.CharacterCard {
  border: 1px solid black;
  padding: 5px;
  max-width: 100%;
  margin: 0 10px;
  border-radius: 7px;
}

.SeeMoreButton {
  padding: 10px 20px;
  margin-top: 10px;
  grid-column: 1 / -1;
}
