body {
  margin: 0;
  padding: 0;
}

.HomePage {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url(src/assets/Images/Star-Background.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CharacterCardContainer {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 250px; 
  gap: 10px;
  overflow-y: auto;
}

.CharacterCard {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%; 
  border: .05px solid red;
  overflow: hidden;
  background-color: black;
  color: white;
}

.CharacterCard img{
  max-width: 100%;
  max-height: 100%;
}


.SeeMoreButton {
  border-radius: 22px;
  width: 7vw;
  height: 7vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  min-width: 100px;
  min-height: 55px;
}


.SeeMoreButton:active {
  background-color:black;
  color: white;
}

.NavBar {
  position: relative;
  top: 0;
  max-width: 100%;
  width: 70vw;
  height: 5vh;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, .9);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
}

.NavBar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.NavBar li{
  display: flex;
  margin: 0 20px;
  font-size: 20px;
}

.NavBar a{
  text-decoration: none;
  font-size: 30px;
}


